.row {
	height : 100%;
	width: 100%;
	margin : 10px 0 0 0;
}
h5 {
	margin: 0px 0px 0px 15px !important;
}
.popover {
        width: 200px;
}
.popover-content {
        color: black;
}
#HEATMAP_d3 {
	height : 700px !important;
	overflow-x: scroll;
  	overflow-y: hidden;
}
#download_html {
	margin-left : 15px;
	color: black;
}